.coursework-third-item {
    margin-left: 300px;
    margin-right: 300px;
}

.coursework-item__title {
    font-family: Oswald;
    font-size: 30px;
    line-height: 30px;
}

.coursework-item__deck {
    font-family: Oswald;
    font-size: 25px;
    line-height: 25px;
}

.table {
    width: 100%;
    margin-bottom: 40px;
}

.table__row {
    display: flex;
    height: 60px;
}

.table__row:last-child {
    background-color: var(--blue_darker);
}

.table__column {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.column-number {
    width: 5%;
}

.column-name {
    width: 15%;
}

.column-count {
    width: 5%;
}

.column-power {
    width: 12.5%;
}

.column-rate {
    width: 12.5%;
}

.column-cos {
    width: 12.5%;
}

.column-percent {
    width: 12.5%;
}

.column-active-power {
    width: 12.5%;
}

.column-reactive-power {
    width: 12.5%;
}

.table__column-number {
    width: 5%;
}

.table__column-name {
    width: 15%;
}

.table__column-count {
    width: 5%;
}

.table__column-power {
    width: 12.5%;
}

.table__column-rate {
    width: 12.5%;
}

.table__column-cos {
    width: 12.5%;
}

.table__column-percent {
    width: 12.5%;
}

.table__column-active-power {
    width: 12.5%;
}

.table__column-reactive-power {
    width: 12.5%;
}

.table__input {
    width: 90%;
    height: 80%;
    padding: 0;
    border: 1px solid var(--dark_blue);
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
}

.result__number {
    width: 5%;
}

.result__name {
    width: 15%;
}

.result__count {
    width: 5%;
}

.result__power {
    width: 12.5%;
}

.result__rate {
    width: 12.5%;
}

.result__cos {
    width: 12.5%;
}

.result__percent {
    width: 12.5%;
}

.result__active-power {
    width: 12.5%;
}

.result__reactive-power {
    width: 12.5%;
}

.formula {
    display: flex;
    justify-content: space-between;
}

.list__power {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
    margin-bottom: 20px;
}

.power-set-calculation-item {
    font-size: 30px;
    margin-top: 20px;
    margin-bottom: 20px;
    font-family: Oswald;
    font-size: 25px;
    line-height: 25px;
}
