.task-list {
    display: grid;
    gap: 20px;
}

.task-list__title {
    font-size: 30px;
    line-height: 30px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    margin-top: 20px;
}

.item-status {
    background-color: var(--blue);
    padding: 0;
    margin: 0;
    display: grid;
    gap: 20px;
    padding: 20px;
    border-radius: 5px;
}

.item-status__title {
    font-size: 30px;
    line-height: 30px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
}

.item-status__item {
    list-style-type: none;
    display: flex;
    align-items: center;
    gap: 10px;
}

.item-status__icon {
    width: 30px;
    height: 30px;
    border-radius: 3px;
}

.item-status__icon--works {
    background-color: var(--basic_green_light);
}

.item-status__icon--developed {
    background-color: var(--basic_yellow);
}

.item-status__icon--absent {
    background-color: var(--basic_red);
}

.item-status__desc {
    margin: 0;
    font-size: 20px;
    line-height: 20px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 300;
}

.task {
    background-color: var(--basic_green3);
    border-radius: 10px;
}

.task:hover {
    box-shadow: 0px 0px 8px 2px var(--basic_green3);
}

.task__title {
    font-size: 30px;
    line-height: 30px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    text-align: center;
    padding: 20px;
    text-transform: uppercase;
}

.task__list {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 15px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 15px;
}

.task__item {
    list-style-type: none;
    border-radius: 10px;
}

.task__item--works {
    background-color: var(--basic_green_light);
}

.task__item--works:hover {
    background-color: var(--basic_green_light1);
}

.task__item--works:active {
    background-color: var(--basic_green_light2);
}

.task__item--developed {
    background-color: var(--basic_yellow);
}

.task__item--developed:hover {
    background-color: var(--basic_yellow_light);
}

.task__item--developed:active {
    background-color: var(--basic_yellow_light_1);
}

.task__item--absent {
    background-color: var(--basic_red);
}

.task__item--absent:hover {
    background-color: var(--basic_red_light);
}

.task__item--absent:active {
    background-color: var(--basic_red_light_1);
}

.task-item__link {
    text-decoration: none;
    color: var(--white);
    display: grid;
    gap: 15px;
    padding: 20px;
}

.task-item__title {
    font-size: 25px;
    line-height: 25px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

.task-item__desc {
    font-size: 25px;
    line-height: 25px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 400;
    margin: 0;
    text-align: center;
}

@media (min-width: 450px) {
    .item-status {
        background-color: var(--light_blue_darker);
    }

    .task__list {
        grid-template-columns: 1fr 1fr 1fr;
    }

    .task__list--practical {
        grid-template-columns: 1fr 1fr;
    }

    .task-item__link {
        gap: 25px;
    }
}