.coursework__third__item {
    margin-left: 300px;
    margin-right: 300px;
}

.coursework__item__title {
    font-family: Oswald;
    font-size: 30px;
    line-height: 30px;
}

.coursework__deck {
    font-family: Oswald;
    font-size: 25px;
    line-height: 35px;
}

.table {
    width: 100%;
    margin-bottom: 60px;
}

.table__row {
    display: flex;
    height: 60px;
}

.table__row:last-child {
    background-color: var(--blue_darker);
}

.table__column {
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

.table__title__column__number {
    width: 5%;
}

.table__title__column__name {
    width: 15%;
}

.table__title__column__count {
    width: 5%;
}

.table__title__column__power {
    width: 12.5%;
}

.table__title__column__rate {
    width: 12.5%;
}

.table__title__column__cos {
    width: 12.5%;
}

.table__title__column__percent {
    width: 12.5%;
}

.table__title__column__active__power {
    width: 12.5%;
}

.table__title__column__reactive__power {
    width: 12.5%;
}

.table__column__number {
    width: 5%;
}

.table__column__name {
    width: 15%;
}

.table__column__count {
    width: 5%;
}

.table__column__power {
    width: 12.5%;
}

.table__column__rate {
    width: 12.5%;
}

.table__column__cos {
    width: 12.5%;
}

.table__column__percent {
    width: 12.5%;
}

.table__column__active__power {
    width: 12.5%;
}

.table__column__reactive__power {
    width: 12.5%;
}

.table__input {
    width: 90%;
    height: 80%;
    padding: 0;
    border: 1px solid var(--dark_blue);
    border-radius: 6px;
    text-align: center;
    font-size: 20px;
}

.table__result__number {
    width: 5%;
}

.table__result__name {
    width: 15%;
}

.table__result__count {
    width: 5%;
}

.table__result__power {
    width: 12.5%;
}

.table__result__rate {
    width: 12.5%;
}

.table__result__cos {
    width: 12.5%;
}

.table__result__percent {
    width: 12.5%;
}

.table__result__active__power {
    width: 12.5%;
}

.table__result__reactive__power {
    width: 12.5%;
}