.navigation {
    padding: 0;
    margin: 0;
}

.navigation__list {
    padding: 0;
    margin: 0;
}

.navigation__item {
    list-style-type: none;
    border-bottom: 1px solid var(--grey);
}

.navigation__item__link {
    opacity: 0.7;
    font-size: 30px;
    line-height: 30px;
    padding-top: 15px;
    padding-bottom: 15px;
    text-transform: uppercase;
    font-family: Oswald;
    display: flex;
    justify-content: center;
    color: var(--black);
    text-decoration: none;
}

.navigation__item__link:hover {
    opacity: 1;
}

.navigation__item__link:active {
    opacity: 1;
    background-color: var(--blue_darker);
}

.form__login {
    margin-top: 15px;
}

.form__title {
    font-family: Oswald;
    font-size: 30px;
    line-height: 30px;
    font-weight: 400;
    margin: 0;
    margin-bottom: 15px;
}

.fieldset {
    padding: 0;
    margin: 0;
    border: none;
}

.field__login__list {
    padding: 0;
    margin: 0;
}

.field__login__item {
    list-style-type: none;
    display: flex;
    width: 100%;
    justify-content: space-between;
    margin-bottom: 20px;
}

.field__login__item__label {
    font-family: Oswald;
    font-size: 20px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
}

.field__login__item__input {
    font-family: Oswald;
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    text-transform: uppercase;
    width: 60%;
    height: 30px;
}

.form__button__box {
    display: flex;
    justify-content: space-between;
}

.form__button {
    padding: 0;
    border: none;
    font-size: 20px;
    line-height: 20px;
    font-family: Oswald;
    color: var(--black);
    background-color: var(--white);
    padding: 0px 20px;
    height: 40px;
    text-transform: uppercase;
    border-radius: 8px;
    cursor: pointer;
}

.form__button:hover {
    background-color: var(--light_grey);
    font-size: 21px;
    line-height: 21px;
}

.form__button:active {
    background-color: var(--white);
    font-size: 21px;
    line-height: 21px;
    opacity: 0.5;
}

.form__regist__box {
    display: flex;
    flex-direction: column;
}

.form__regist__box__deck {
    font-size: 20px;
    line-height: 20px;
    font-family: Oswald;
    color: var(--black);
}

@media (min-width: 450px) {
    .navigation {
        margin-top: 30px;
        margin-bottom: 50px;
    }
    
    .navigation__list {
        display: flex;
    }

    .navigation__item {
        border: none;
        padding-right: 40px;
    }
}