.navigation__list {
    padding: 0;
    margin: 0;
}

.navigation__item {
    list-style-type: none;
    border-bottom: 1px solid var(--black);
    display: flex;
}

.navigation__link {
    font-size: 50px;
    line-height: 50px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: var(--black);
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 15px;
}

.navigation__link:hover {
    background-color: var(--light_blue_darker);
}

.navigation__link:active {
    background-color: var(--blue);
}

.about {
    background-color: var(--light_blue_darker);
    padding: 30px;
    position: relative;
    display: grid;
    gap: 30px;
}

.close-button {
    position: absolute;
    background-image: url(/img/svg/close_btn.svg);
    width: 30px;
    height: 30px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    border: none;
    background-color: inherit;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.about__title {
    font-size: 30px;
    line-height: 30px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
}

.about__desc {
    font-size: 20px;
    line-height: 30px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    text-align: justify;
    text-indent: 30px;
    margin: 0;
}

.login-form {
    display: grid;
    gap: 20px;
    position: relative;
}

.login-form__title {
    font-size: 30px;
    line-height: 30px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 400;
    text-align: center;
    margin: 0;
    margin-top: 20px;
}

.fieldset {
    border: none;
    padding: 20px;
}

.fieldset__list {
    display: grid;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.fieldset__item {
    list-style-type: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.fieldset__label {
    font-size: 20px;
    line-height: 20px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
}

.fieldset__input {
    font-size: 20px;
    line-height: 20px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    width: 60%;
    padding-left: 15px;
}

.form__button-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.form__button {
    border: none;
    background-color: inherit;
    background-color: var(--white);
    font-size: 25px;
    line-height: 25px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 7px 15px;
    border-radius: 5px;
}

.login-form__desc {
    font-size: 25px;
    line-height: 25px;
    font-family: Oswald, Arial, Helvetica, sans-serif;
    margin-top: 0;
    margin-bottom: 10px;
}

@media (min-width: 450px) {
    .navigation__list {
        display: flex;
        gap: 20px;
    }

    .navigation__item {
        border: none;
    }

    .navigation__link {
        padding-left: 20px;
        padding-right: 20px;
    }

    .about {
        position: fixed;
        z-index: 2;
        border: 2px solid var(--black);
        width: 30%;
        left: 35%;
        top: 20%
    }

    .about__title {
        font-size: 45px;
        line-height: 45px;
    }

    .about__desc {
        font-size: 30px;
        line-height: 40px;
    }

    .login-form {
        position: fixed;
        z-index: 3;
        width: 30%;
        left: calc(35% - 30px);
        top: 20%;
        background-color: var(--light_grey);
        border: 2px solid var(--black);
        padding: 30px;
    }
}