.reference {
    margin: 0;
}

.reference__title {
    padding: 0;
    margin: 0;
    font-size: 40px;
    line-height: 40px;
    font-family: Oswald;
    font-weight: 400;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
}

.reference__list {
    padding: 0;
    margin: 0;
}

.reference__list__title {
    padding: 0;
    margin: 0;
    font-size: 30px;
    line-height: 30px;
    font-family: Oswald;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    text-transform: uppercase;
}

.reference__item {
    list-style-type: none;
    margin-bottom: 15px;
    display: flex;
    justify-content: center;
}

.reference__item__link {
    text-decoration: none;
    font-size: 30px;
    line-height: 30px;
    font-family: Oswald;
    color: var(--black);
    width: 90%;
    display: flex;
    justify-content: center;
    padding-top: 13px;
    padding-bottom: 13px;
    background-color: var(--blue_darker);
    border: 6px solid var(--blue_darker_1);
    border-radius: 14px;
}

.reference__item__link:hover {
    font-size: 31px;
    line-height: 31px;
    width: 100%;
}

.reference__item__link:active {
    font-size: 31px;
    line-height: 31px;
    width: 95%;
    background-color: var(--blue_darker_1);
}

.conversion__list {
    padding: 0;
    margin: 0;
    margin-bottom: 30px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
}

.conversion__list__title {
    font-size: 35px;
    line-height: 35px;
    font-family: Oswald;
    color: var(--grey);
    font-weight: 400;
}

.conversion__item {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
}

.conversion__item__inner {
    display: flex;
    justify-content: space-between;
}

.conversion__input__box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 30%;
}

.conversion__input {
    height: 30px;
    font-size: 20px;
    line-height: 20px;
    font-family: Oswald;
    text-align: center;
    width: 100%;
    padding: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    border: none;
    border-radius: 5px;
}

.conversion__input__title {
    display: flex;
    justify-content: center;
    font-size: 30px;
    line-height: 30px;
    font-family: Oswald;
    font-weight: 400;
    margin: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    color: var(--grey);
}

.conversion__input__equal {
    font-size: 40px;
    line-height: 40px;
    font-family: Oswald;
}

.conversion__button {
    padding-top: 7px;
    padding-bottom: 7px;
    border-radius: 7px;
    border: none;
    font-size: 20px;
    line-height: 20px;
    text-transform: uppercase;
    font-family: Oswald;
    color: var(--black);
    background-color: var(--basic_green_light_3);
    cursor: pointer;
}

.conversion__button:hover {
    background-color: var(--basic_green_light_1);
}

.conversion__button:active {
    background-color: var(--basic_green);
}