@import "header";
@import "coursework";
@import "reference";
@import "promo";
@import "coursework_item";

@font-face {
	font-family: 'Oswald'; 
	src: local('Oswald'),
		url(Oswald/Oswald-VariableFont_wght.ttf); 
}

:root {
    --light_blue: #DAE8F5;
    --light_blue_darker: #c4ddf5;
    --blue: #95CCFF;
    --blue_darker: #92c9fc;
    --blue_darker_1: #378cbd;
    --dark_blue: #0085FF;

    --white: #ffffff;
    --light_grey: #D3D3D3;
    --grey: #545454;
    --black: #000000;

    --basic_green_light_3: #66d955;
    --basic_green_light_2: #58cf46;
    --basic_green_light_1: #53c242;
    --basic_green_light: #4cb33d;
    --basic_green: #49ab3a;
    --basic_green2: #49ab3a;
    --basic_green3: #49ab3a;

    --basic_yellow: #b0b300;
    --basic_yellow_light: #d8db0f;
    --basic_yellow_light_1: #e7eb2f;

    --basic_red: #b30000;
    --basic_red_light: #d92b2b;
    --basic_red_light_1: #eb4646;

    --basic_violet: #af67e5;
}

body {
    background-color: var(--light_blue);
    margin: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

.container {
    padding-left: 20px;
    padding-right: 20px;
}

@media (min-width: 450px) {
    .container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .main__inner {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}